body{
    display: flex;
    flex-direction: column;
    justify-content: center;
  align-items: center;
    height: 100vh;
}
.pic{
    font-size: 10rem;
    cursor: pointer;
    user-select: none;
}
.first{
    display: none;
}
.second{
    display: none;
}
.active{
    display: block;
}